//COLOR
$color-primary: brown;
$color-secondary: #5a4f52;
$color-black: #000;

//INDEX PAGE LINEAR COLORS:
$light_green: rgba(254, 221, 255, 0.64);
$dark_green: rgba(90, 112, 222, 0.82);

//TYPOGRAPHY
$root-font-size: 62.5%;

//GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 5rem;
